@import 'all.min.css';
@import url(reset.css);.el-main{background:#fcfcfc}.header{background:#fff}.header .header-wrap{width:1100px;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;height:100px;background:#f00}@media screen and (min-width: 993px) and (max-width: 1200px){.header .header-wrap{background:#0f0;width:90%}}@media screen and (min-width: 769px) and (max-width: 992px){.header .header-wrap{background:#00f;width:90%}}@media screen and (min-width: 481px) and (max-width: 768px){.header .header-wrap{width:90%}}@media screen and (max-width: 480px){.header .header-wrap{width:90%}}
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
h2{
	font-size: 24px;
	margin-bottom: 20px;
	padding-left: 15px;
	font-weight: 500;
	font-family: 'Heebo', sans-serif;
}
.Feature_News_galery{
	display: flex;
	font-family: 'Heebo', sans-serif;
}
.post img{
	width: 210px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-right: 15px;
    margin-left: 15px;
    object-fit: cover;
    z-index: 2;
    
}
.gradient{
	background: linear-gradient(180deg, #fff0, #000000a6);
	z-index: 3;
	width: 210px;
	height: 263px;
	position: absolute;
	bottom: 0px;
	left: 15px;
}
.post_text1{
	position: absolute;
    bottom: 0;
    z-index: 9;
    margin-bottom: 80px;
    margin-left: 30px;
    height: 50px;
}
.post_text2{
	position: absolute;
    bottom: 0;
    z-index: 9;
    margin-bottom: 80px;
    margin-left: 30px;
    height: 50px;
}
.post_text3{
	position: absolute;
    bottom: 0;
    z-index: 9;
    margin-bottom: 80px;
    margin-left: 30px;
    height: 50px;
}
.post_text4{
	position: absolute;
    bottom: 0;
    z-index: 9;
    margin-bottom: 80px;
    margin-left: 30px;
    height: 50px;
}
.post{
	position: relative;
	z-index: 3;
	
}
.March{
	margin-top: 6%;
	font-weight: 400;
	transition: all 0.4s ease 0s;
}
.TECHNOLOGY{
	font-weight: 700;
	transition: all 0.4s ease 0s;
}
.TECHNOLOGY_hover4:hover .TECHNOLOGY{
	color: #007aff;
}
.March_hover4:hover .March{
	color: #007aff;
}
.Best_hover4:hover .Best{
	color: #007aff;
}
a{
	text-decoration: none;
	color: #fff;
	position: relative;
    z-index: 2;
    display: inline-block;
    font-size: 12px;
}
.Best{
	margin-top: 6%;
	margin-left: 0px;
	font-size: 16px;
	font-weight: 700;
	padding-right: 30px;
	transition: all 0.4s ease 0s;
}
.arrows1{
	width: 30px;
	height: 30px;
	border: 1px solid #ccc;
	margin-left: 912px;
	margin-bottom: 650px;
	position: absolute;
	bottom: 0px;
	background-color: #fff;
	transition: all 0.3s ease 0s;
}
.arrows2{
	width: 30px;
	height: 30px;
	border: 1px solid #ccc;
	margin-left: 865px;
	margin-bottom: 650px;
	position: absolute;
	bottom: 0px;
	background-color: #fff;
	transition: all 0.3s ease 0s;
}
i{
	color: #ccc;
	width: 50%;
	height: 50%;
	z-index: 3;
	display: inline-block;
	margin-left: 40%;
	margin-top: 25%;
}
.arrows2 i{
	margin-left: 30%;
}
.arrows1:hover{
	background-color: #007aff;
}
.arrows1:hover i{
	color: #fff;
}
.arrows2:hover{
	background-color: #007aff;
}
.arrows2:hover i{
	color: #fff;
}
.text_news_and_arrows{
	width: 930px;
	height: auto;
	position: relative;
}
/*# sourceMappingURL=style.css.map */