.el-main{
	background: $color1;
}
.header{
	background: $color2;

	.header-wrap{
		@include wrap();

		height:100px;
		background: #f00;

		@include desktop{
			background: #0f0;
			width: 90%;
		}
		@include laptop{
			background: #00f;
			width: 90%;
		}
		@include tablets{
		width: 90%;
		}
		@include phones{
			width: 90%;
		}
	}
}
.main-news{
	@include wrap();
	position: relative;
	font-family: 'Heebo', sans-serif;
	/*@include desktop{
			width: 90%;
		}
		@include laptop{
			width: 90%;
		}
		@include tablets{
			width: 90%;
		}
		@include phones{
			width: 90%;
		}*/
	.main-news__img{
		width: 60%;
		height: auto;
		display: block;

	}
	.text-post{
		position: absolute;
		bottom: 0;
		padding: 40px;
		display: flex;
		flex-direction: column;
		width: 55%;
		.chapter{
			padding: 15px 0;
			.chapter__section{
				text-decoration: none;
				color: $color2;
				text-transform: uppercase;
				font-size: 14px;
			}
			.chapter__date{
				text-decoration: none;
				color: $color2;
				font-size: 14px;
			}
		}
		.link{
			text-decoration: none;
			color: $color2;
			font-size: 30px;
			
		}
		.post-head__about{
			color: $color2;
			font-size: 15px;
			font-weight: 300; 
			padding: 15px 0;
		}



	}
	.main-news__btn{
		width: 60px;
		height: 60px;
		position: absolute;
		background: $color3;
		border-radius: 50%;
		left: 60%;
		margin-left: -70px;
		margin-top: 10px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		.button__link{
			color: $color2;
			width: 100%;
			text-align: center;
			font-size: 35px;
		}
	}

}
