.el-main{
	background: $color1;
}
.header{
	background: $color2;

	.header-wrap{
		@include wrap();

		height:100px;
		background: #f00;

		@include desktop{
			background: #0f0;
			width: 90%;
		}
		@include laptop{
			background: #00f;
			width: 90%;
		}
		@include tablets{
		width: 90%;
		}
		@include phones{
			width: 90%;
		}
		.logo{
		    background: #fff;
		    .logo__row{
		        box-sizing: border-box;
		        width: 100%;
		        display: flex;
		        padding-right: 150px;
		        padding-left: 150px;
		    }
		}
		.logo_picture{
		    width: 30%;
		    position: relative;
		    box-sizing:border-box;
		    
		    img{padding: 30px;
		        max-width: 70%;
		        vertical-align: middle;
		        display: block;
		        padding:40px;
		        
		    }
		}
		.logo_picture2{
		    width: 70%;
		    position: relative;
		    padding-left: 15px;
		    box-sizing:border-box;
		    img{
		    	padding: 15px;
		        display: block;
		        max-width: 100%;
		        vertical-align: middle;
		        
		    }
		}
	}
		.bottom_menu{
		background: #fcfcfc;

		.menu{
			display:flex;

			li{
			 display: flex;
			 list-style: none;
		   	 background:#fff;
		   	 position: relative;
		  	 height: 70px;
		  	 align-items: center;
		  	 padding: 0 15px;
		  	 justify-content: center;
		  	 transition: 0.1s ease;
		  	 box-sizing:border-box
			}
			ul > li{
			 height: 40px;
		  	 min-width: 230px;
		  	 justify-content: left;
		  	 color: black;
		  	 border-bottom: 1px solid black;
		  	 border-left:1px solid black;
		  	 border-right:1px solid black;
			}
			ul ul > li{
			 min-width: 200px;
			 justify-content: left;
			}
			a{
			 color: #000;
		  	 text-decoration: none;
		  	 display: block;
			}
			> li:before{
			 content:'';
		 	 position: absolute;
		 	 top: 0;
		  	 left: 0;
		  	 width: 100%;
		   	 background:#fcfcfc;
		  	 height: 0;
		  	 transition: all 0.2s ease;
		  	 opacity: 1;
			}
			li:hover:before{
			 height: 68px;
			}
			> li:hover{
			 border-bottom: 2px solid #1091ff;
			}
			ul > li:hover{
			 background: #1091ff;
			}
			ul{
			 position: absolute;
		  	 left: 0;
		  	 top: 100%;
		  	 display: none;
		 	 padding: 0;
			}
			> li:hover > a{
			 color:#1091ff;
		  	 z-index: 2;
			}
			li:hover > ul{
			 display: block;
			}
			ul ul{
			 display: none;
		 	 top: 0;
		 	 left: 100%;
			}
			i{
			 margin-right:5px;
		  	 z-index: 2;
			}
		}
	}		
}
