body{
    margin: 0;
}
.logo{
    background: #fff;
    .logo__row{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        padding-right: 150px;
        padding-left: 150px;

    }
}
.logo_picture{
    width: 30%;
    position: relative;
    box-sizing:border-box;
    
    
    
    img{padding: 30px;
        max-width: 70%;
        vertical-align: middle;
        display: block;
        padding:40px;
        
    }
}
.logo_picture2{
    width: 70%;
    position: relative;
    padding-left: 15px;
    box-sizing:border-box;
    img{padding: 15px;
        display: block;
        max-width: 100%;
        vertical-align: middle;
        

    }
}